<h1>Hello World</h1>
<button onclick="clickButton()">버튼</button>

<script>
  function clickButton() {
    console.log("click");

    /*
      axios({
        url: "/",
        method: "get",
        headers: {
          "Content-Type": "application/json",
        },
        data: {
        },
      }).then((res) => {
        console.log(res.data);
      });
  */
  }
</script>
